<h1>Enter a sentence to look through and a word to look for within it</h1>
<p>(If your searched for word is part of another word it will not be counted)</p>
<form action="/RepeatCounter" method="post">
  <label for="userWord">Write a word:</label>
  <input id="userWord" name="userWord" type="text" required>
  <label for="userSentence">Write a sentence:</label>
  <input id="userSentence" name="userSentence" type="text" required>
  <button type="submit">Tell me how many times is my word included</button>
</form>
